<a href="https://colab.research.google.com/github/y001003/Algorithm/blob/main/JUNGOL_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 배열1-자가평가

## 1

In [ ]:
ipt = input()
print(ipt.replace(' ',''))

a b c d
abcd

## 2

In [ ]:

for i in range(1,11):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

## 3

In [ ]:
ipt = input().split()
for i in range(0,9,3):
    print(ipt[i],end=' ')

a b c d e f g h i j
a
d
g

## 4

In [ ]:
ipt = input().split()
for i in range(len(ipt)-1,-1,-1):
    
    if int(ipt[i]) == 0:
        continue
    else:
        print(int(ipt[i]),end=' ')

3 5 0
5 3

In [ ]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

## 5

In [ ]:
li = [85.6, 79.5, 83.1, 80.0, 78.2, 75.0]
ipt = list(map(int,input().split()))
print(li[ipt[0]-1]+li[ipt[1]-1])

1 3
168.7

## 6

In [ ]:
ipt = list(map(int,input().split()))
print(min(ipt))

5 10 8 55 6 31 12 24 61 2
2

## 7 다른사람 코드 궁금

In [ ]:
ipt = list(map(int,input().split()))
ipt.sort()
for i in range(len(ipt)):
    if ipt[i] >= 100:
        if i == 0:
            print(100,int(ipt[i]))
            break
        print(int(ipt[i-1]),int(ipt[i]))
        break
    # 100 넘는 경우 없을 때 
    elif i == (len(ipt)-1):
        print(ipt[i],100)

26 19 45 89 65 66 92 87 81 29
92 100

## 8

In [ ]:
ipt = list(map(int,input().split()))
sum = 0
avg = 0
count = 0
for i in range(len(ipt)):
    # 짝수번째
    if i % 2 == 1:
        sum += ipt[i]
    else :
        avg += ipt[i]
        count += 1
print(f'sum : {sum}\navg : {round(avg/count,1)}')

10 11 12 13 14 15 16
sum : 39
avg : 13.0

## 9

In [ ]:
ipt = list(map(int,input().split()))
ipt.sort(reverse=True)
for i in range(len(ipt)):
    print(ipt[i],end=' ')

10 20 30
30 20 10

# 배열1 - 형성 1

## 1

In [ ]:
ipt = list(input().split())
for i in range(len(ipt)-1,-1,-1):
    print(ipt[i],end=' ')

10 20 30 50 24 5
5 24 50 30 20 10

## 2

In [ ]:
ipt = list(map(int,input().split()))
sum = 0
for i in range(len(ipt)):
    if i % 2 ==1 :
        continue
    else:
        sum += ipt[i]
print(sum)

15 20 33 10 9
57

## 3

In [ ]:
ipt = list(map(int,input().split()))
even = 0
odd = 0

for i in range(len(ipt)):
    # 짝수번째
    if i % 2 == 1:
        even += ipt[i]
    else :
        odd += ipt[i]
        
print(f'odd : {odd}\neven : {even}')

10 20 25 66 83 7 22 90 1 100
odd : 141
even : 283

## 4

In [ ]:
ipt = list(map(int,input().split()))

for i in range(len(ipt)):
    if ipt[i] == -1:
        if i < 3:
            for j in ipt[:-1]:
                print(j,end=' ')
            break
        print(ipt[i-3],ipt[i-2],ipt[i-1])
        break

30 20 -1
30 20

In [ ]:
list_input = list(map(int, input().split()))

for i in range(3, 0, -1):
    if list_input.index(-1) - i >= 0:
        print(list_input[list_input.index(-1) - i], end=" ")
===================================
list_input = list(map(int, input().split()))

for j in range(3, 0, -1):
    if list_input.index(-1) - j >= 0:
        for i in range(j, 0, -1):
            print(list_input[list_input.index(-1) - i], end=" ")

## 5

In [ ]:
ipt = list(map(float,input().split()))
sum = 0
count = 0
for i in ipt:
    sum += i
print(round(sum/len(ipt),1))

23.2 39.6 66.4 50 45.6 48
45.5

## 6 다른사람 궁금

In [ ]:
li = ['J', 'U', 'N', 'G', 'O', 'L']
ipt = input()
for i in range(len(li)):
    if ipt == li[i]:
        print(i)
        break

    if ( ipt != li[i] ) and ( i == len(li)-1 ):
        print('none')

L
5

## 7

In [ ]:
ipt = list(map(int,input().split()))

for i in range(len(ipt)):
    if ipt[i] == 999:
        print(f'max : {max(ipt[:-1])}\nmin : {min(ipt)}')
        break

45 19 123 58 10 -55 16 -1 999
max : 123
min : -55

## 8

In [ ]:
ipt = list(map(int,input().split()))
count = 0
sum = 0
for i in range(len(ipt)):
    if (ipt[i] % 5 ==0) and (ipt[i] != 0):
        count += 1
        sum += ipt[i]
        
    if ipt[i] == 0:
        print(f'Multiples of 5 : {count}\nsum : {sum}\navg : {round(sum/count,1)}')
        break

35 10 23 100 64 51 5 0
Multiples of 5 : 4
sum : 150
avg : 37.5

## 9

In [ ]:
ipt = list(map(int,input().split()))
count = 0
sum = 0
for i in range(len(ipt)):
    count += 1
    if ipt[i] == 0:
        print(count-1)
        break    
for i in range(len(ipt[:count-1])):

    if ipt[i] %2 ==1:
        print(int(ipt[i]*2),end=' ')
    else :
        print(int(ipt[i]/2),end=' ')

8 10 5 15 100 0
5
4 5 10 30 50

## 10

In [ ]:
n = int(input())
l = list(map(int,input().split()))
l.sort(reverse=True)
for i in l:
    print(i)

5
35 10 35 100 64
100
64
35
35
10
[100, 64, 35, 35, 10]

In [1]:
li = [10, 20 ,30]
li[:2]

[10, 20]

In [9]:
li = []
li2 = []
a = 0
b = 0
for i in range(4):
    li.append(list(map(int,input().split())))
for i in li:
    li2.append(int(sum(i)/2))
    a += i[0]
    b += i[1]
print(*li2)
print(int(a/4), int(b/4))
print(int((a+b)/8))

16 27
39 100
19 88
61 20
21 69 53 40
67 117
46