<a href="https://colab.research.google.com/github/y001003/Algorithm/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%84%EB%B3%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n, x = map(int, input().split())
li = list(map(int, input().split()))
for i in li:
    if i < x:
        print(i,end=" ")

TypeError: ignored

In [ ]:
li = []
for i in input().split():
    li.append(int(i))
print(li)

3 4
[3, 4]

In [ ]:
while True:
    try:
        a, b = map(int, input().split())
        print(a+b)
    except:
        break

3 4
7
5 6
11

In [ ]:
# x = int(input())
temp = x
i = 0
while True:
    try:
        
        a = int(temp//10)
        b = int(temp%10)
        
        c = a+b
        d = int(c%10)

        e = b*10 + d
        i += 1
        if e == x:
            break
        # print(e)
        temp = e
        


    except:
        break
print(i)

3
60

In [ ]:
# n = int(input())
li = list(map(int, input().split()))


print(min(li),max(li))

2
1 2 3
1 3

## 백준 4단계

2번 2562번

In [ ]:
i = 0
x = 0
max = 0
min = 0
while i <9:
    
    a = int(input())
    if a > max:
        max = a
        x = i+1
    i += 1
print(max)
print(x)

TypeError: ignored

3번 2577번

In [4]:
a = int(input())
b = int(input())
c = int(input())

mul = a * b * c
str_mul = str(mul)

for i in range(10):
    print(str_mul.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

4번 3052번

In [6]:
L,A,B,C,D = [int(input()) for _ in range(10)]

1
2
3
4
5

1

In [17]:
i = 0
remain_li = []
x = 0
while i < 10:
    a = int(input())
    remain = a %42
    i+=1
    
    if remain_li.count(remain) == 0:
        remain_li.append(remain)
        # print(remain)
        x +=1

# print(remain_li)
print(x)

39
39
40
40
41
41
42
0
43
1
44
2
82
83
84
85
[39, 40, 41, 0, 1, 2]
6

In [4]:
li = [int(input()) for _ in range(10)]

result = []
for i in li:
    a = i%42
    if a not in result:
        result.append(a)
print(len(result))

42
84
252
420
840
126
42
84
420
126
1

5번 1546번

In [16]:
n = int(input())
li = list(map(int, input().split()))
m = max(li)
x = 0
for i in li:
    x += i/m
print(x/n * 100)

3
40 80 60
75.0

6번 8958번

In [24]:
n = int(input())
for i in range(n):
    quiz = input()
    x = 0
    result = 0

    for j in quiz:
        if j == 'O' :
            x += 1
            result += x
            
        else :
            x = 0
    print(result)

2
OOXXOXXOOO
10
OOXXOOXXOO
9

7번 4344번

In [48]:
import numpy as np

cnt = int(input())
for i in range(cnt):
    li = np.array(list(map(int, input().split())))[1:]
    ans = len( li[li > li.mean()] )/len(li)
    print( "%.3f%%" % (ans*100) )
### 백준 numpy 사용 불가...

3
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%

In [ ]:
import numpy as np

cnt = int(input())
for i in range(cnt):
    li = np.array(list(map(int, input().split())))[1:]
    ans = len( li[li > li.mean()] )/len(li)
    print( "%.3f%%" % (ans*100) )

In [60]:
cnt = int(input())

for i in range(cnt):
    upper = []
    li = list(map(int, input().split()))[1:]
    for j in li:
        if j > sum(li)/len(li):
            upper.append(j)
    ans = len(upper)/len(li)
    print( "%.3f%%" % (ans*100) )

1
5 50 50 70 80 100
40.000%

In [40]:
x = 0.4
print("%.1f" % x)

0.4

In [29]:
a = np.array([5, 50, 50, 70, 80, 100])[1:]
len(a[a > a.mean()])/len(a)

0.4

In [56]:
a = [5, 50, 50, 70, 80, 100][1:]
# sum = 0
# for i in a[1:]:
#     sum +=
sum(a)/len(a)
upper = []
for i in a:
    if i > sum(a)/len(a):
        upper.append(i)
print(len(upper)/len(a))

0.4