<a href="https://colab.research.google.com/github/y001003/Algorithm/blob/main/%EB%B0%B1%EC%A4%80_%EB%8B%A8%EA%B3%84%EB%B3%84_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n, x = map(int, input().split())
li = list(map(int, input().split()))
for i in li:
    if i < x:
        print(i,end=" ")

TypeError: ignored

In [ ]:
li = []
for i in input().split():
    li.append(int(i))
print(li)

3 4
[3, 4]

In [ ]:
while True:
    try:
        a, b = map(int, input().split())
        print(a+b)
    except:
        break

3 4
7
5 6
11

In [ ]:
# x = int(input())
temp = x
i = 0
while True:
    try:
        
        a = int(temp//10)
        b = int(temp%10)
        
        c = a+b
        d = int(c%10)

        e = b*10 + d
        i += 1
        if e == x:
            break
        # print(e)
        temp = e
        


    except:
        break
print(i)

3
60

In [ ]:
# n = int(input())
li = list(map(int, input().split()))


print(min(li),max(li))

2
1 2 3
1 3

## 백준 4단계

2번 2562번

In [ ]:
i = 0
x = 0
max = 0
min = 0
while i <9:
    
    a = int(input())
    if a > max:
        max = a
        x = i+1
    i += 1
print(max)
print(x)

TypeError: ignored

3번 2577번

In [ ]:
a = int(input())
b = int(input())
c = int(input())

mul = a * b * c
str_mul = str(mul)

for i in range(10):
    print(str_mul.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

4번 3052번

In [ ]:
L,A,B,C,D = [int(input()) for _ in range(10)]

1
2
3
4
5

1

In [ ]:
i = 0
remain_li = []
x = 0
while i < 10:
    a = int(input())
    remain = a %42
    i+=1
    
    if remain_li.count(remain) == 0:
        remain_li.append(remain)
        # print(remain)
        x +=1

# print(remain_li)
print(x)

39
39
40
40
41
41
42
0
43
1
44
2
82
83
84
85
[39, 40, 41, 0, 1, 2]
6

In [ ]:
li = [int(input()) for _ in range(10)]

result = []
for i in li:
    a = i%42
    if a not in result:
        result.append(a)
print(len(result))

42
84
252
420
840
126
42
84
420
126
1

5번 1546번

In [ ]:
n = int(input())
li = list(map(int, input().split()))
m = max(li)
x = 0
for i in li:
    x += i/m
print(x/n * 100)

3
40 80 60
75.0

6번 8958번

In [ ]:
n = int(input())
for i in range(n):
    quiz = input()
    x = 0
    result = 0

    for j in quiz:
        if j == 'O' :
            x += 1
            result += x
            
        else :
            x = 0
    print(result)

2
OOXXOXXOOO
10
OOXXOOXXOO
9

7번 4344번

In [ ]:
import numpy as np

cnt = int(input())
for i in range(cnt):
    li = np.array(list(map(int, input().split())))[1:]
    ans = len( li[li > li.mean()] )/len(li)
    print( "%.3f%%" % (ans*100) )
### 백준 numpy 사용 불가...

3
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%

In [ ]:
import numpy as np

cnt = int(input())
for i in range(cnt):
    li = np.array(list(map(int, input().split())))[1:]
    ans = len( li[li > li.mean()] )/len(li)
    print( "%.3f%%" % (ans*100) )

In [ ]:
cnt = int(input())

for i in range(cnt):
    upper = []
    li = list(map(int, input().split()))[1:]
    for j in li:
        if j > sum(li)/len(li):
            upper.append(j)
    ans = len(upper)/len(li)
    print( "%.3f%%" % (ans*100) )

1
5 50 50 70 80 100
40.000%

In [ ]:
x = 0.4
print("%.1f" % x)

0.4

In [ ]:
a = np.array([5, 50, 50, 70, 80, 100])[1:]
len(a[a > a.mean()])/len(a)

0.4

In [ ]:
a = [5, 50, 50, 70, 80, 100][1:]
# sum = 0
# for i in a[1:]:
#     sum +=
sum(a)/len(a)
upper = []
for i in a:
    if i > sum(a)/len(a):
        upper.append(i)
print(len(upper)/len(a))

0.4

## 백준 5단계 함수

2번 4673번

In [ ]:
def solve(a):
    string = str(a)
    li = list(map(int, string))
    result = a + sum(li)
    return result
ans_li = []
self_num = []
for i in range(1,10001):
    self_num.append(solve(i))
for i in range(1,10001):
    if i not in self_num:
        print(i)

In [ ]:
def solve(a):
    sum = a
    string = str(a)
    for i in string:
        sum += int(i)
    return sum
ans_li = []
self_num = []
for i in range(1,10001):
    self_num.append(solve(i))
for i in range(1,10001):
    if i not in self_num:
        print(i)

In [ ]:
def solve(a):
    sum = a
    string = str(a)
    for i in string:
        sum += int(i)
    return sum
self_num = set()
for i in range(1,10001):
    self_num.add(solve(i))
for i in range(1,10001):
    if i not in self_num:
        print(i)

![image.png]()

3번 1065번

In [ ]:
def solve(a):
    ans = set()
    string = str(a)
    temp = int(string[0])
    if a <10:
        ans.add(a)
    for i in string[1:]:
        ans.add(int(i)-temp)
        temp = int(i)
        
    return ans
ipt = int(input())
cnt = 0
for i in range(1,ipt+1):
    if len(solve(i)) < 2 : 
        cnt += 1
print(cnt)

110
99

## 백준 6단계 문자열

1번 11654번

In [ ]:
a = input()
ord(a)

0

48

2번 11720번

In [ ]:
num = input()
ipt = input()
sum = 0
for i in ipt:
    sum += int(i)
print(sum)

5
54321
15

In [ ]:
import numpy as np
a=input()
b=list(map(int,input()))
# sum(b) 왜 안되는지 모르겠다
np.sum(b) # 이건 되는데

5
54321

15

In [ ]:
N = int(input())
n = int(input())

n_list = map(int, list(str(n)))
print(sum(n_list))

5
54321

TypeError: ignored

3번 10809번 알파벳 찾기

In [ ]:
import string
alphabet = string.ascii_lowercase

ipt = input()
for i in alphabet:
    if i in ipt:
        print(ipt.index(i),end=' ')
    else:
        print(-1, end = ' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

4번 2675번

In [ ]:
n = int(input())
for _ in range(n):
    r, p = input().split()
    for i in p:
        print(i*int(r), end='')
    print()
# 왜 틀렸지?

2
3 ABC
AAABBBCCC5 /HTP
/////HHHHHTTTTTPPPPP

In [ ]:
n = int(input())

for _ in range(n):
    r, p = input().split()
    ans = str()
    for i in p:
        ans += i*int(r)
    print(ans)

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

5번 1157번 단어공부

In [ ]:
ipt = input()
ipt = ipt.upper()

ans = []
ipt = list(ipt)

max = 0
out = 0
for i in ipt:

    temp = ipt.count(i)
    if ans is None:
        ans.append(ipt.index(i))
    elif temp > max :
        ans.append(ipt.index(i))
        max = temp
        

    elif temp == max :
        print('?')
        out = 1
        break
if out == 0:
    print(ipt[ ans[-1] ])

zZa
?

In [ ]:
ipt = input()
ipt = list(ipt.upper())

ans = []
max = 0
out = 0

for i in ipt:
    temp = ipt.count(i)
    if ans is None:
        ans.append(ipt.index(i))
    elif temp > max :
        ans.append(ipt.index(i))
        max = temp
    elif i == ipt[ans[-1]]:
        continue

    elif temp == max :
        print('?')
        out = 1
        break

if out == 0:
    
    print(ipt[ ans[-1] ])
# 시간초과................

zZa
Z

In [ ]:
ipt = input()
ipt = ipt.upper()

ans = []
ipt = list(ipt)
cnt = 0
for i in range(len(ipt)):
    for j in ipt:
        if j == ipt[i]:
            cnt += 1

In [ ]:
ipt = 'Mississipi'
ipt = ipt.upper()
a=0
b=0
for i in ipt:
    a = ipt.count(i)
    print(ipt.count(i))

1
4
4
4
4
4
4
4
1
4