<a href="https://colab.research.google.com/github/y001003/Algorithm/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4_%EC%A0%95%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def solution(array, commands):
    answer = []
    return answer

## 1 K번째수



```
문제 설명
배열 array의 i번째 숫자부터 j번째 숫자까지 자르고 정렬했을 때, k번째에 있는 수를 구하려 합니다.

예를 들어 array가 [1, 5, 2, 6, 3, 7, 4], i = 2, j = 5, k = 3이라면

array의 2번째부터 5번째까지 자르면 [5, 2, 6, 3]입니다.
1에서 나온 배열을 정렬하면 [2, 3, 5, 6]입니다.
2에서 나온 배열의 3번째 숫자는 5입니다.
배열 array, [i, j, k]를 원소로 가진 2차원 배열 commands가 매개변수로 주어질 때, commands의 모든 원소에 대해 앞서 설명한 연산을 적용했을 때 나온 결과를 배열에 담아 return 하도록 solution 함수를 작성해주세요.

제한사항
array의 길이는 1 이상 100 이하입니다.
array의 각 원소는 1 이상 100 이하입니다.
commands의 길이는 1 이상 50 이하입니다.
commands의 각 원소는 길이가 3입니다.
입출력 예
array	commands	return
[1, 5, 2, 6, 3, 7, 4]	[[2, 5, 3], [4, 4, 1], [1, 7, 3]]	[5, 6, 3]
```

In [7]:
data_list = [1, 5, 2, 6, 3, 7, 4]

In [15]:
def solution(array,i,j,k):
    # 1. array 짜르기
    select = array[i-1:j]

    # 2. 버블정렬
    for x in range(len(select)):
        for y in range(len(select)-1):
            if select[y] > select[y+1]:
                select[y],select[y+1] = select[y+1], select[y]
    
    # 3. 정렬된 리스트 중 k 번째
    answer = select[k-1]

    return answer

In [20]:
def solution(array,commands):
    answer = []
    # commands for 문
    for command in commands:
        i,j,k = command[0],command[1],command[2]
        # 1. array 짜르기
        select = array[i-1:j]

        # 2. 버블정렬
        for x in range(len(select)):
            for y in range(len(select)-1):
                if select[y] > select[y+1]:
                    select[y],select[y+1] = select[y+1], select[y]
        
        # 3. 정렬된 리스트 중 k 번째
        answer.append(select[k-1])

    return answer

In [ ]:
# 다른사람의 풀이1
def solution(array, commands):
    return list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))

# 다른사람의 풀이2
def solution(array, commands):
    answer = []
    for command in commands:
        i,j,k = command
        answer.append(list(sorted(array[i-1:j]))[k-1])
    return answer

In [21]:
solution(data_list,[[2, 5, 3], [4, 4, 1], [1, 7, 3]])

[5, 6, 3]

## 2. 가장 큰 수



```
문제 설명
0 또는 양의 정수가 주어졌을 때, 정수를 이어 붙여 만들 수 있는 가장 큰 수를 알아내 주세요.

예를 들어, 주어진 정수가 [6, 10, 2]라면 [6102, 6210, 1062, 1026, 2610, 2106]를 만들 수 있고, 이중 가장 큰 수는 6210입니다.

0 또는 양의 정수가 담긴 배열 numbers가 매개변수로 주어질 때, 순서를 재배치하여 만들 수 있는 가장 큰 수를 문자열로 바꾸어 return 하도록 solution 함수를 작성해주세요.

제한 사항
numbers의 길이는 1 이상 100,000 이하입니다.
numbers의 원소는 0 이상 1,000 이하입니다.
정답이 너무 클 수 있으니 문자열로 바꾸어 return 합니다.
입출력 예
numbers	return
[6, 10, 2]	"6210"
[3, 30, 34, 5, 9]	"9534330"
```

In [23]:
a = [6, 10, 2]

In [32]:
ans = []
for i in a:
    ans.append(str(i))

print(int(ans[0]+ans[1]+ans[2]))
[i for i in ans]
num = ""
for i in ans:
    num += i
print(num)

6102
6102

In [33]:
from itertools import permutations
p = list(permutations(ans))

[('6', '10', '2'),
 ('6', '2', '10'),
 ('10', '6', '2'),
 ('10', '2', '6'),
 ('2', '6', '10'),
 ('2', '10', '6')]

In [37]:
answer = []

for i in p:
    temp = ""
    for j in i:
        temp += j
    
    answer.append(int(temp))
sorted(answer)[-1]

6210

In [44]:
from itertools import permutations
def solution(numbers):
    # numbers로 만들수 있는 순열 리스트 p
    num = []
    for i in numbers:
        num.append(str(i))
    p = list(permutations(num))
    
    # 각 순열 합치기
    ans = []
    for i in p:
        temp = ""
        for j in i:
            temp += j
        ans.append(int(temp))    
    
    # 합쳐진 수 중에 가장 큰 것
    answer = str(sorted(ans)[-1])
    return answer

In [46]:
solution([3, 30, 34, 5, 9]	)

9534330

## 3. H-Index


```
문제 설명
H-Index는 과학자의 생산성과 영향력을 나타내는 지표입니다. 어느 과학자의 H-Index를 나타내는 값인 h를 구하려고 합니다. 위키백과1에 따르면, H-Index는 다음과 같이 구합니다.

어떤 과학자가 발표한 논문 n편 중, h번 이상 인용된 논문이 h편 이상이고 나머지 논문이 h번 이하 인용되었다면 h의 최댓값이 이 과학자의 H-Index입니다.

어떤 과학자가 발표한 논문의 인용 횟수를 담은 배열 citations가 매개변수로 주어질 때, 이 과학자의 H-Index를 return 하도록 solution 함수를 작성해주세요.

제한사항
과학자가 발표한 논문의 수는 1편 이상 1,000편 이하입니다.
논문별 인용 횟수는 0회 이상 10,000회 이하입니다.
입출력 예
citations	return
[3, 0, 6, 1, 5]	3
입출력 예 설명
이 과학자가 발표한 논문의 수는 5편이고, 그중 3편의 논문은 3회 이상 인용되었습니다. 그리고 나머지 2편의 논문은 3회 이하 인용되었기 때문에 이 과학자의 H-Index는 3입니다.
```

In [77]:
def solution(citations):
    # 정렬
    data = sorted(citations)

    for i in range(len(data)):
        if data[i] >= len(data[i:]):

            if data[i] > len(data[i:]):
                return len(data[i:])
                
            # data[i] == len(data[i:])
            return data[i]
    
    return 0

In [78]:
solution([6,4,3,2])

[3, 4, 6]

3

In [ ]:
# 다른사람 풀이 1
def solution(citations):
    citations.sort(reverse=True)
    answer = max(map(min, enumerate(citations, start=1)))
    return answer

In [ ]:
# 다른사람 풀이 2
def solution(citations):
    cit = sorted(citations)
    return max([x for x in range(len(cit)+1) if cit[-x] >= x])

In [81]:
citations = [5,6,3,1]
for i in enumerate(citations):
    print(i)

(0, 5)
(1, 6)
(2, 3)
(3, 1)

In [82]:
citations = [5,6,3,1]
for i in map(min,enumerate(citations)):
    print(i)

0
1
2
1